.countries {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

@media (min-width: 768px) {
    .countries {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .countries {
        grid-template-columns: repeat(3, 1fr);
    }
}