.country{
    border: 2px solid gray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.country img {
    height: 200px;
    width: 100%;
}

.country-visited{
    background: gray;
    color: black;
}